<div class='table comments_index'>
<h4>Comments</h4>
  <table>
    <tbody>
      <%book.book_comments.each do|book_comment|%>
      <tr>
        <td><%= link_to(book_comment.user) do %>
          <%= image_tag book_comment.user.get_profile_image, size:"80x80" %><br>
          <%= book_comment.user.name %>
          <%end%>
        </td>
        <td><%=book_comment.comment%></td>
        <td><%= link_to 'Destroy', book_book_comment_path(book,book_comment),remote: true,method: :delete, class: "btn btn-sm btn-danger"%></td>
      </tr>
      <%end%>

    </tbody>
  </table>

</div>


