<h3>Address</h3>
<p><%= @book.address %></p>
<h3>Near Station</h3>
<p><%=@book.near_station%></p>

<div id="map"></div>
・・・

<style>
#map{
  height: 300px;
  width:400px;
}
</style>

<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: <%=@book.latitude%>, lng: <%= @book.longitude %>},
  zoom: 8
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>&callback=initMap" async defer></script>