<h3>投稿数の前日比・前週比</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%=@todays_posts.count%></th>
            <th><%=@yesterdays_posts.count%></th>
            <th><%if @yesterdays_posts.count==0%>
                  ---
                 <%else%>
                  <%=@posted_count_dod.round%>%
                 <%end%></th>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今週の投稿数</th>
            <th>前週の投稿数</th>
            <th>前週比</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%=@this_weeks_posts.count%></th>
            <th><%=@last_weeks_posts.count%></th>
            <th><%if @last_weeks_posts.count==0%>
                  ---
                 <%else%>
                  <%=@posted_count_wow.round%>%
                 <%end%></th>
          </tr>
        </tbody>
      </table>

     