<h3>投稿数の前日比・前週比</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%=@todays_posts.count%></th>
            <th><%=@yesterdays_posts.count%></th>
            <th><%if @yesterdays_posts.count==0%>
                  ---
                 <%else%>
                  <%=@posted_count_dod.round%>%
                 <%end%></th>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今週の投稿数</th>
            <th>前週の投稿数</th>
            <th>前週比</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%=@this_weeks_posts.count%></th>
            <th><%=@last_weeks_posts.count%></th>
            <th><%if @last_weeks_posts.count==0%>
                  ---
                 <%else%>
                  <%=@posted_count_wow.round%>%
                 <%end%></th>
          </tr>
        </tbody>
      </table>

      <h3>７日分の投稿数</h3>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>６日前</th>
            <th>５日前</th>
            <th>４日前</th>
            <th>３日前</th>
            <th>２日前</th>
            <th>１日前</th>
            <th>今日</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%=@daysago_posts_6.count%></th>
            <th><%=@daysago_posts_5.count%></th>
            <th><%=@daysago_posts_4.count%></th>
            <th><%=@daysago_posts_3.count%></th>
            <th><%=@daysago_posts_2.count%></th>
            <th><%=@yesterdays_posts.count%></th>
            <th><%=@todays_posts.count%></th>
          </tr>
        </tbody>
      </table>
     <div>
        <h3>グラフ</h3>
        <canvas id="myLineChart"></canvas>
     </div>


  <script>

      var ctx = document.getElementById("myLineChart");
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
          datasets: [
            {
              label: '投稿した本の数',
              data: [<%= @daysago_posts_6.count %>, <%= @daysago_posts_5.count %>,<%= @daysago_posts_4.count %>,<%= @daysago_posts_3.count %>,<%= @daysago_posts_2.count %>,<%= @yesterdays_posts.count %>,<%= @todays_posts.count %>],
              borderColor: "rgba(0,0,255,1)",
              backgroundColor: "rgba(0,0,0,0)"
            }
          ],
        },
        options: {
          title: {
            display: true,
            text: '7日間の投稿数の比較'
          },
          scales: {
            yAxes: [{
              ticks: {
                suggestedMax: 10,
                suggestedMin: 0,
                stepSize: 1,
                callback: function(value, index, values){
                  return  value
                }
              }
            }]
          },
        }
      });
      
  </script>